* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 51px;
    background-color: #212121;
}

header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style: none;
}
.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.menu_link:hover {
    text-decoration: underline;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 48px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}
.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #fff;
}
.subheader .subheader_phone {
    margin-top: 8px;
    display: block;
    font-size: 22px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
    color: #fff;
    text-decoration: none;
    text-align: right;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
}
.promo .promo_header {
    display: block;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
.promo .promo_subheader {
    display: block;
    margin: 0;
    margin-top: 22px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    text-align: center;
}
.promo .promo_descr {
    margin-top: 23px;
    line-height: 1.33;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
